<div class="p-4">
  <table class="table table-striped table-responsive-sm">
    <thead>
      <tr>
        <th translate="nearbyEvents.name"></th>
        <th translate="nearbyEvents.address"></th>
        <th translate="nearbyEvents.start"></th>
        <th translate="nearbyEvents.end"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let event of events">
        <td>{{event.title}}</td>
        <td>{{event.location.adress}}, {{event.location.zipcode}} {{event.location.city}}</td>
        <td class="no-wrap">{{event.dates.startdate | date}}</td>
        <td class="no-wrap">{{event.dates.enddate | date}}</td>
      </tr>
    </tbody>
  </table>
</div>
